.teamBanner img{
    width: 100%;
}
.icon{
    padding: 0px 5px;
    transition: all .5s;
    font-size: 2rem;
}
.icon:hover{
    color: #2d3436;
    font-size: 1.8rem;
}
.facebook-icon{
    color: #3b5998;
}
.instagram-icon{
    color: #8a3ab9;
}
.twitter-icon{
    color: #1DA1F2;
}
.youtube-icon{
    color: #c4302b;
}
.team-detail-card{
    background: black;
}
