/* .main-btn{
    border-radius: 20px;
    background: linear-gradient(120deg,#2d3436,#636e72);
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    color: #fff;
}
.team-card:hover{
    transform: scale(0.95);
    transition: all .5s;
    transition-timing-function: ease-out;
} */