.main-btn{
    border-radius: 20px;
    color: #2d3436;
    background: #fff;
    border: 1px solid #2d3436;
    font-weight: bold;
    padding: .375rem 2rem;
    transition: 1s;
}
.main-btn:hover{
    color: #fff; 
    background: linear-gradient(120deg,#2d3436,#636e72);
    border: 1px solid #2d3436;
}
.team-card:hover{
    transform: translateY(-.6rem);
    transition: all .5s;
    transition-timing-function: ease-out;
}